.thanx-msg{
    width:75%;
    padding:30px 0px;
    margin:0 auto;
    margin-bottom:120px;
}

.thanx-txt h3{
    color:#482802;
    line-height:40px;
    font-size:18px;
}

.thanx-txt{
    padding-bottom:30px;
}
